<h1> Welcome to stupid Coach !</h1>

<div class = "banner">
  <h2><%= @response %></h2>
  <p> - You </p>
</div>
<div class = "banner" >
  <h2><%= @answer%></h2>
  <p> - Your coach </p>
</div>

<%= link_to " Ask a new question, clic here ", ask_path  %>
